<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
	<h1>상세페이지</h1>
	
	<div>
		<div th:text="${vo.bno}"></div>
		<div th:text="${vo.title}"></div>
		<div th:text="${vo.contents}"></div>
		<div th:text="${vo.writer}"></div>
		<div th:text="${vo.regdate}"></div>
	</div>
	<!-- <button onclick=location.href="@{'/board/modify/'+${dto.bno}}" >수정</button> -->
	<form th:action="@{'/board/delete/'+${vo.bno}}" method="post">
		<input type="hidden" name="_method" value="delete" />
		<button>삭제</button>
	</form>	

	<a href="" th:href="@{'/board/modify/'+${vo.bno}}"> <button>수정</button></a>
	<!-- <a href="" th:href="@{'/board/delete/'+${vo.bno}}"> <button>삭제</button></a> -->
	<!-- <a href="" th:href="@{'/board/list'}"> <button>목록</button></a> -->
	<a href="" th:href="@{list(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword}, bno=${vo.bno} )}"> <button>목록</button></a>
</body>
</html>