<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
	<h1>제발...</h1>
	부탁드립니다 ㅠㅠ

	<div>
		<form th:action="@{'/board/modify/'+${vo.bno}}" method="post">
			<input type="text" name="title" th:value="${vo.title}" value="${vo.title}">
			<textarea rows="3" name="contents" th:text="${vo.contents}" th:value="${vo.contents}"></textarea>
			<input type="text" name="writer" th:value="${vo.writer}" value="${vo.writer}"> 
			<input type="text" name="regdate" th:value="${vo.regdate}" value="${vo.regdate}" readonly>
			<button>작성</button>
		</form>

	</div>
</body>
</html>